body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("bg1.jpg");
    background-blend-mode: 35%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#para1{
    color: rgb(192, 192, 192);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    position: relative; top: 120px;
}
#para1:hover{
    color: black;
}
#me{
    float: right;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: white;
    transition-duration: 0.4s;
}
#me:hover{
    background-color: rgb(236, 19, 19);
}
#hire{
    float: right;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: white;
    transition-duration: 0.4s;
}
#hire:hover{
    background-color: rgb(236, 19, 19);
}
#back{
   float: right;
   font-family:Verdana, Geneva, Tahoma, sans-serif; 
   font-size: 20px;
   margin: 5px;
   border: none;
   border-radius: 5px;
   background-color: white;
   transition-duration: 0.4s;
}
#back:hover{
    background-color: rgb(236, 19, 19);
}
#contact{
    float: right;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: white;
    transition-duration: 0.4s;
}
#contact:hover{
    background-color: rgb(236, 19, 19);
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }