body{
    background-color: black;
}
#about{
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 46px;
   text-align: center;
   position: relative; top: 100px;
}
.btn{
    font-size: 46px;
    text-align: center;
    position: relative; top: 200px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    font-size: 100px;
    color: black;
    background-color: whitesmoke;
}
.btn:hover{
    background-color: lightgray;
    color: whitesmoke;
    border-radius: 5px;
}
button{
    border-radius: 5px;
}
#para1{
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    position: relative; top: 120px;
}
#para2{
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    position: relative; top: 160px;
}
#para3{
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    position: relative; top: 180px;
}
#para4{
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    position: relative; top: 200px;   
}
#button{
    height: 50px;
    width: 50px;
}