<!DOCTYPE html>
<html>
    <head>
        <title>About Christopher Mugavero</title>
        <link rel="stylesheet" href="static/Website.css">
    </head>
    <body>

       <div class="header">
            <a href="index.html" class="logo">Christopher Mugavero</a>
            <div class="header-right">
              <a class="active" href="index.html">Home</a>
              <a href="Updated Resume 2020.pdf">Resume</a>
              <a href="templates/hire.html">Contact</a>
            </div>
          </div>

        <p id="para1">I'd like to thank you for visiting my site.<br><br>
            I am a Marine Corps veteran who was working in Live Event industry before the pandemic.<br>
            During quarantine I took the time and enhanced my skills and abilities in programming.<br>
            I am currently in the process of getting a certificate in Web programming with Python<br>on Udemy.com in the class Zero to Mastery.<br><br>
            I am currently working on many small projects and one large one.<br><br>
        </p>
        </div>
    </body>
</html>