<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
  	<meta content="IE=edge" http-equiv="X-UA-Compatible">
  	<meta content="width=device-width,initial-scale=1" name="viewport">
  	<meta content="description" name="description">
  	<meta name="google" content="notranslate" />

	<link rel="stylesheet" type="text/css" href="static/style.css">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<title>CM: About</title>
</head>
	
<header class='header'>
	<div class="header">
		<a href="./" class="logo">CM</a>
		<div class="header-right">
		  <a href="./" title="" class="active">Home</a>
		  <a href="./about.html" title="" class="active">About</a>
		  <a href="./projects.html" title="" class="active"> Projects </a>
		  <a href="./contact.html" title="" class="active">Contact</a>
		  <a href="./download.html" class="active" title="">Download</a>
	</div>
</header><br><br>
	<body class="body"> 
		<div class="me">
			<p2>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
				 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br> 
				 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br> 
				 Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p2>
		</div><br>
		<script src='static/script.js'></script>
	</body>
</html>