<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chris Mugavero</title>
        <link rel="stylesheet" href="hello.css">
        <script src="hello.js">  
        </script>
    </head>
    <body> 
        <div id="banner">
            <p>Chris Mugavero: Software and Web Development</p>
        </div>
            <div class="dropdown">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                  <a href="flight.py">Python</a>
                  <a href="hello.js">JavaScript</a>
                  <a href="counter.html">HTML</a>
                  <a href="hello.css">CSS</a>
                  <a href="Updated Resume 2020.pdf">Resume</a>
                </div>
            </div>
        <div id="image1">
            <img src="i1.jpg" alt="city view"/>
        </div>
        <h1 id="hi">CIAO AMICO</h1>
            <form id="form1">
                <input autofocus id="name" placeholder="Name" type="text">
                <input type="submit">
            </form>
            <p id="line1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                 It has survived not only five centuries, but also the leap into electronic typesetting,
                  remaining essentially unchanged.
                 It was popularized in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                  and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            <p id="line2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged.
                It was popularized in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <p id="line3"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged.
                It was popularized in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.                       
            </p>
            <div id="change">
                <h1 id="color">Which is your Favorite?</h1>
                <button data-color="red">Red</button>
                <button data-color="blue">Blue</button>
                <button data-color="green">Green</button>
            </div>
    </body>
</html>