<!DOCTYPE html>
<html>
    <head>
        <title>Hire Christopher Mugavero</title>
        <link rel="stylesheet" href="static/Website.css">
        <script src="static/hello.js"></script>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>
        <div class="header">
            <a href="templates/index.html" class="logo">Christopher Mugavero</a>
            <div class="header-right">
              <a class="active" href="templates/index.html">Home</a>
              <a href="templates/AboutMe.html">About</a>
              <a href="static/Updated Resume 2020.pdf">Resume</a>
            </div>
          </div>
            <div id="info">
                <br>
                If you would like to hire me for a specific project or job, please fill out the form below.<br>
            </div><br><br>
            <p>Form is Under Repairs . . .</p>
    </body>
</html>