<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
  	<meta content="IE=edge" http-equiv="X-UA-Compatible">
  	<meta content="width=device-width,initial-scale=1" name="viewport">
  	<meta content="description" name="description">
  	<meta name="google" content="notranslate" />

	<link rel="stylesheet" type="text/css" href="static/style.css">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<title>CM</title>
</head>
		<header class='header'>
					<div class="header">
						<a href="./" class="logo">CM</a>
						<div class="header-right">
						  <a href="./" title="" class="active">Home</a>
						  <a href="./about.html" title="" class="active">About</a>
						  <a href="./projects.html" title="" class="active"> Projects </a>
						  <a href="./contact.html" title="" class="active">Contact</a>
						  <a href="./download.html" class="active" title="">Download</a>
					</div>
	  	</header><br>
<body class="body"> 
	<div class="me">
		<p1>Hello my name is <span style="font-size:20px; color:#8b0101; font-weight:bold; font-style:italic;">Christopher Mugavero</span></p1><br><br>
		<p2>and I am a <span style="font-size:18px; color:#8b0101; font-weight:bold; font-style:italic;">Python</span> programmer,</p2>
		<p2>who loves nature.</p2>
	</div><br><br>
	<div class="flex-container">
		<div><img src="static/1.jpg" alt="Some kind of image" width="400" height="200"></div>
		<div><img src="static/2.jpg" alt="Some kind of image" width="400" height="200"></div>
		<div><img src="static/3.jpg" alt="Some kind of image" width="400" height="200"></div> 
		<div><img src="static/4.jpg" alt="Some kind of image" width="400" height="200"></div>
	</div>
</body>
		<script src='static/script.js'></script>
</html>