<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		  <meta content="IE=edge" http-equiv="X-UA-Compatible">
		  <meta content="width=device-width,initial-scale=1" name="viewport">
		  <meta content="description" name="description">
		  <meta name="google" content="notranslate" />
	
		<link rel="stylesheet" type="text/css" href="static/style.css">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<title>CM: Thank You</title>
	</head>
	<header class='header'>
		<div class="header">
			<a href="./" class="logo">CM</a>
			<div class="header-right">
			  <a href="./" title="" class="active">Home</a>
			  <a href="./about.html" title="" class="active">About</a>
			  <a href="./projects.html" title="" class="active"> Projects </a>
			  <a href="./contact.html" title="" class="active">Contact</a>
			  <a href="./download.html" class="active" title="">Download</a>
		</div>
</header><br>
	<body class="body"> 
		<p class="thank2">I am so pleased that you spent the time to visit my site.<br>
		Thank you for your info and I will get back to you as soon as possible.
		</p><p>
			Your info has been successfully submitted. Thank You
		</p>
	</body>
</html>	